<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>articles</title>
  <link rel="stylesheet" href="">
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
  </style>
</head>


<body>
<header>
  <nav>
    <ul>
      <li><a href="/">Articles</a></li>
    </ul>
  </nav>
</header>
<h1>Add a New article</h1>


<form action="/article/new" method="post">
  <label for="">Article Details: </label><br>
    <select name="article_type">
      <option value="">Article Type</option>
      <option value="1">Lead Article</option>
      <option value="2">Non-lead Article</option>
      <option value="3">Event</option>
    </select><br>
  <!-- <label for="">Article Title: </label> -->
    <input type="text" name="title" placeholder="Article Title"><br>
  <!-- <label for="">Description: </label> -->
    <!-- <input type="text" name="description" placeholder="Description"><br> -->
    <textarea name="description" placeholder="Description"></textarea><br>
  <!-- <label for="">Article url: </label> -->
    <input type="text" name="article_url" placeholder="Article url"><br>
  <!-- <label for="">Icon url: </label> -->
    <input type="text" name="icon_url" placeholder="Icon url"><br>
  <!-- <label for="">Category tag: </label> -->
    <input type="text" name="category_tag" placeholder="Category Tag"><br>
<!--   <label for="">Newsletter id: </label>
    <input type="text" name="newsletter_id"><br> -->
  <input type="hidden" name="newsletter_id" value="3">
  <!-- <label for="">Color: </label> -->
    <select name="color_id">
      <option value="">Color</option>
      <option value="1">Nielsen Orange</option>
      <option value="2">Nielsen Purple</option>
      <option value="3">Nielsen Green</option>
      <option value="4">Nielsen Blue</option>
      <option value="5">Nielsen Red</option>
    </select><br>
  <input type="text" name="cta" placeholder="Call to Action"><br>
  <input type="text" name="position" placeholder="Place in template (number)"><br>
    
    <br>
  <label for="">Event Details</label><br>
  <input type="text" name="event_date" placeholder="Event Date (if applicable)"><br>
  <input type="text" name="event_time" placeholder="Event Time (if applicable)"><br>

  <input type="submit" value="Add article">
</form>

<h2>List of All articles</h2>
  <table>
    <tr>
      <th>Newsletter ID</th>
      <th>Position in Newsletter</th>
      <th>Title</th>
    </tr>

    <% articles.forEach( article => { %>
    <tr>
      <td><%= article.newsletter_id %>
        
  <form method="post" action="/article/<%=article.article_id%>?_method=DELETE">
    <input type="submit" value="Delete Article">
  </form>

      </td>
      <td> <%= article.position %></td>

      <td> <a href="/article/<%= article.article_id %>">
          <%= article.title %>
        </a></td>
    </tr>
    <% }); %>

  </table>

</body>
</html>